/VesselNet/checkpoint/*
/VesselNet/ckpt/*
/VesselNet/dataset/*
/VesselNet/hdf5/*
VesselNet.rar
*.zip
/STARE/*
/DRIVE/test/*
/DRIVE/training/*
/py-network copy/*
*.tar
/STARE-labeled/ckpt/
/STARE-labeled/labels-ah/
/STARE-labeled/stare-images/
/jupyter-notebook/default/*.ipynb
