/VesselNet/checkpoint/*
/VesselNet/ckpt/*
/VesselNet/dataset/*
/VesselNet/hdf5/*
VesselNet.rar
*.zip
/STARE/*
/DRIVE/test/*
/DRIVE/training/*
/py-network copy/*
/labels-ah/*
*.tar
/STARE-labeled/
/jupyter-notebook/default/*.ipynb
